* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: #F1F1F1;
    background-image: url(Assets/img/sfondo.jpg); */
    background: red;

    height: 100vh;
    font-family: 'Lexend Deca', Arial, sans-serif;;
    
    display: grid;
    place-items: center;
}

/* Spazio per il contenuto sotto la navbar */
 .content-container {
    margin-top: 80px; /* Per evitare che il contenuto venga coperto dalla navbar */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

/* .container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    background-color: rgba(153, 167, 161, 0.867);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 300px;
    height: 521px;
    background-color: white;
    border-radius: 18px;
    box-shadow: 15px 15px 6px #cecece;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 18px; 
    font-weight: bold;
    margin-bottom: 15px;
}
.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
}
.content {
    position: absolute;
    bottom: 50px;
    left: 50px;
    color: white;
}
.content h1 {
    font-size: 36px;
}
.content p {
    font-size: 18px;
}
.buttons {
    margin-top: 20px;
}
.buttons button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.discover {
    background: white;
}
.available {
    background: gray;
    color: white;
}


hr{
    border-style: groove;
    border-color: #cecece;
}

input[type="number"]{
    font-family: 'Lexend Deca';
}

input[type="submit"] {
    font-family: 'Lexend Deca';
    background-color: #ADBBDA;
    border-radius: 15px;
}

input[type="submit"]:hover {
    font-family: 'Lexend Deca';
    background-color: #7091E6;
}

#titolo{
    color: #7091E6;
}

h3{
    color: #7091E6;
}

#RAL{
    border-radius: 15px; 
    height: 25px; 
    border-width: 2px; 
    background-color: white; 
    border-color: #3D52A0;
}

#inputFigli{
    border-radius: 15px; 
    height: 25px; 
    border-width: 2px; 
    background-color: white; 
    border-color: #3D52A0;

}

.icon svg {
    width: 55px;
    height: 55px;
    fill:red;

}

#btnLogin{
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 3;
    width: 55px;
    height: 55px;

}

@media only screen and (min-width: 601px){
    
    .wrapper {
        width: 300px;
        height: 521px;
        border-radius:18px;
        box-shadow: 15px 15px 6px #cecece;
        padding: 50px;
    }
    
} */
