/* Stile del pulsante */ 
#menuButton {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

/* Stile del menu a tendina */
.dropdown {
    position: absolute;
    top: 50px;
    right: 20px; /* Menu posizionato sulla destra */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 150px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* Link nel menu */
.dropdown a {
    padding: 10px;
    text-decoration: none;
    color: black;
    display: block;
}

.dropdown a:hover {
    background-color: #f0f0f0;
}

/* Classe nascosta */
.hidden {
    display: none;
}





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F1F1F1;
    background-image: url(Assets/img/ai_bk.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    height: 100vh;
    font-family: 'Lexend Deca', Arial, sans-serif;;
    
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

button {
    border: none;
    background: none;
    color: inherit;
    outline: inherit;
    /* line-height: 0; */

    font-family: inherit;

    cursor: pointer;

    /* no double tap so go fast */
    touch-action: manipulation;
    z-index: 7;
  }

.wrapper {
    padding: 4rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    box-shadow: 3px 3px 1px #cecece;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 18px; 
    font-weight: bold;
    margin-bottom: 15px;
}
.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
}
.content {
    position: absolute;
    bottom: 50px;
    left: 50px;
    color: white;
}
.content h1 {
    font-size: 36px;
}
.content p {
    font-size: 18px;
}
.buttons {
    margin-top: 20px;
}
.buttons button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.discover {
    background: white;
}
.available {
    background: gray;
    color: white;
}


hr{
    border-style: groove;
    border-color: #cecece;
}

input[type="number"]{
    font-family: 'Lexend Deca';
}

input[type="submit"] {
    font-family: 'Lexend Deca';
    background-color: #ADBBDA;
    border-radius: 15px;
}

input[type="submit"]:hover {
    font-family: 'Lexend Deca';
    background-color: #7091E6;
}

h1 {
    color: #7091E6;
}

h3 {
    color: #7091E6;
}

#RAL{
    border-radius: 15px; 
    height: 25px; 
    border-width: 2px; 
    background-color: white; 
    border-color: #3D52A0;
}

#inputFigli{
    border-radius: 15px; 
    height: 25px; 
    border-width: 2px; 
    background-color: white; 
    border-color: #3D52A0;

}

.icon svg {
    width: 55px;
    height: 55px;
    fill: whitesmoke;

}

#btnLogin{
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 3;
    width: 55px;
    height: 55px;

    background: none;
    cursor: pointer;

}

@media only screen and (min-width: 601px){

    body {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    
    .wrapper {
    }
    
}